<% layout('../layout') -%>
		<div class="page_content">
			<div class="order_error">
				<h3>Что-то пошло не так</h3>
				<p>По независящим от нас причинам оплата заказа не состоялась, попробуйте еще раз позже</p>
				<a href="/" class="button">Вернуться</a>
			</div>
		</div>