<% layout('../layout') -%>
<div class="admin_page">
    <div class="admin_content">
        <div class="admin_info">
            <h3>Что-то пошло не так</h3>
            <form method="get" action="/" class="horizontal">
                <div><p>По независящим от нас причинам оплата заказа не состоялась, попробуйте еще раз позже</p></div>
                <div id="submit" class="form_but">
                    <input type="submit" value="Ок" class="button succes">
                </div>
            </form>
        </div>
    </div>
</div>