<% layout('../layout') -%>
<div class="page_title_block">
    <h1>Оплаченный заказ</h1>
    <div class="border_wave_bot"></div>
</div>



<div id="order_page" class="order_page">
        	 <div class="shop_info">
				<div class="name"><span data-bind="text: ShopName"></span></div>
				<div class="info_item address"><span data-bind="text: ShopAddress"></span></div>
				<div class="info_item phone"><span data-bind="text: ShopPhone"></span></div>
				<div class="info_item time"><span data-bind="text: ShopWorkTime"></span></div>
			</div>
    <div><input id="orderId" type="hidden" size="20" name="orderId" value="<%= orderId %>" required hidden></div>
        <div class="basket_block" data-bind="foreach: lines">
            <div class="item">
                <div class="img"><img data-bind="attr: { src: product().Image, alt: product().Name }"></div>
                <h3><span data-bind="text: product().Name"></span></h3>
                <div class="price"><span data-bind="text: subtotal()"></span> р.
                </div>
                <div class="count">
                    <div class="item_price"><span data-bind="text: product().Price"></span> р.</div>
			x
                    <div class="item_count"><input type="text" name="" id="" data-bind="value: quantity, valueUpdate: 'afterkeydown'" disabled></div>
			=
                </div>
            </div>
        </div><div class="order_total">Итого: <b><span data-bind="text: $root.total()"></span> р.</b></div>
        
    <div class="notice succes" data-bind="{visible: $root.approved()}">Заказ оплачен</div>
    <div class="notice error" data-bind="{visible: !$root.approved()}">Заказ еще не оплачен</div>
        <div class="order_info">

            <h3>Информация</h3>
        <form action="" class="horizontal">
        			<div class="form_item">
						<div class="label">Имя клиента</div>
						<div class="input"><input type="text" name="" id="" size="60" data-bind="value: userName" disabled></div>
					</div>					

					<div class="form_item">
						<div class="label">Описание заказа</div>
						<div class="input"><textarea name="" id="" cols="30" rows="10" data-bind="value: $root.description()" disabled></textarea></div>
					</div>
					<div class="form_item" data-bind="visible:  $root.deliveryAddress()">
						<div class="label">Адрес доставки</div>
						<div class="input"><textarea name="" id="" cols="30" rows="10" data-bind="value: $root.deliveryAddress()" disabled></textarea></div>
					</div>
        </form>



        </div>


    
</div>
<script type="text/javascript">
    $(function () {
        var orderId = $('#orderId').val();
        bindOrder('',orderId);
    })
</script>