<% layout('../layout') -%>
		<div class="page_content">
			<div class="order_succes">
				<h3>Заказ успешно оплачен</h3>
				<p>На Ваш номер выслано SMS с сcылкой на Ваш заказ, а также на email отправлено подтверждение о платеже.</p>
				<h4>Приятного аппетита!</h4>
				<a href="\" class="button succes">Спасибо!</a>
			</div>
		</div>