<% layout('../layout') -%>
<div class="admin_page">
    <div class="admin_content">
        <div class="admin_info">
            <h3>Заказ успешно оплачен</h3>
            <form method="get" action="/" class="horizontal">
                <div><p>На Ваш номер выслано SMS с сылкой на Ваш заказ, а также на email отправлено подтверждение о платеже. Приятного аппетита</p></div>
                <div id="submit" class="form_but">
                    <input type="submit" value="Ок" class="button succes">
                </div>
            </form>
        </div>
    </div>
</div>