<% layout('../layout') -%>
<div class="admin_page">
    <div class="admin_content">
        <div class="admin_info">
            <h3>Сброс пароля</h3>
            <form method="post" action="" class="horizontal">
                <div id ="messenger"> </div>
                <div class="form_item">
                    <div class="input"><input type="hidden" size="60" name="userId" value="<%= userId %>" required hidden></div>
                </div>
                <div class="form_item">
                    <div class="input"><input type="hidden" size="60" name="verify" value="<%= verify %>" required hidden></div>
                </div>
                <div class="form_but">
                    <a href="/users/login" class="button succes">Войти</a>  
                    <a href="/" class="button simple">Отмена</a>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/script/ResetPassword.js" type="text/javascript"></script>