<% layout('../layout') -%>
<script type="text/javascript">
    $(function () {

        function getUser() {
            var userId = $('#userId').val();
            var jqXHR = $.post('/api/users/getuser/' + userId)
            .done(function (data) {
                if (data.status == 200) {
                    
                    $("#name").attr("value", data.message.UserName);
                    //console.log("done " + data.message);
                    $("#email").attr("value", data.message.email);
                }
                if (data.status == 500) {
                    $("#messenger").html(data.message);
                    console.log("fail " + data.message);
                    $("#messenger").fadeIn("slow");
                }
            });
        }
        getUser();

        function postNewPassword(oldPassword, newPassword, newPasswordConfirmation) {
            var jqXHR = $.post('/api/users/UpdatePassword', { OldPassword: oldPassword, NewPassword: newPassword, PasswordConfirmation: newPasswordConfirmation })
            .done(function (data) {
                if (data.status == 200) {
                    $("#messenger").html(data.message);
                    console.log("done " + data.message);
                    $("#messenger").fadeIn("slow");
                }
                if (data.status == 500) {
                    $("#messenger").html(data.message);
                    console.log("fail " + data.message);
                    $("#messenger").fadeIn("slow");
                }
            });
        }

        function postNewEmail(email) {
            var jqXHR = $.post('/api/users/UpdateEmail', { email: email })
            .done(function (data) {
                if (data.status == 200) {
                    $("#messenger").html(data.message);
                    console.log("done " + data.message);
                    $("#messenger").fadeIn("slow");
                }
                if (data.status == 500) {
                    $("#messenger").html(data.message);
                    console.log("fail " + data.message);
                    $("#messenger").fadeIn("slow");
                }
            });
        }

        function postNewUserName(name) {
            var jqXHR = $.post('/api/users/updateUserName', { UserName: name })
            .done(function (data) {
                if (data.status == 200) {
                    $("#messenger").html(data.message);
                    console.log("done " + data.message);
                    $("#messenger").fadeIn("slow");
                }
                if (data.status == 500) {
                    $("#messenger").html(data.message);
                    console.log("fail " + data.message);
                    $("#messenger").fadeIn("slow");
                }
            });
        }

        function isValidPassword(password) {

            var pattern = new RegExp("^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,}$");
            return pattern.test(password);
        }

        $("#cahngePassword").click(function () {
            var error = 0;
            var oldPass = $("#OldPassword").val();
            if (!oldPass) error = 1;
            var pass = $("#NewPassword").val();

            if (!isValidPassword(pass)) {
                error = 3;
            }

            var pass2 = $("#PasswordConfirmation").val();
            if (pass != pass2)
                error = 4;

            if (error == 0) { // если ошибок нет то отправляем данные
                postNewPassword(oldPass, pass, pass2);
            }
            else {
                if (error == 1) var err_text = "Введите старый пароль!";
                if (error == 3) var err_text = "Пароль введен неверно";
                if (error == 4) var err_text = "Пароли не совпадают";
                $("#messenger").html(err_text);
                $("#messenger").fadeIn("slow");
            }
        })

        function isValidEmailAddress(emailAddress) {
            var pattern = new RegExp(/^(("[\w-\s]+")|([\w-]+(?:\.[\w-]+)*)|("[\w-\s]+")([\w-]+(?:\.[\w-]+)*))(@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$)|(@\[?((25[0-5]\.|2[0-4][0-9]\.|1[0-9]{2}\.|[0-9]{1,2}\.))((25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\.){2}(25[0-5]|2[0-4][0-9]|1[0-9]{2}|[0-9]{1,2})\]?$)/i);
            return pattern.test(emailAddress);
        }

        $('#cahngeEmail').click(function () {
            var email = $('#email').val();
            var error = 0;
            if (!isValidEmailAddress(email))
                error = 1;
            if (error == 0) { // если ошибок нет то отправляем данные
                postNewEmail(email);
            }
            else {
                if (error == 1) var err_text = "Введите email правильно!";
                $("#messenger").html(err_text);
                $("#messenger").fadeIn("slow");
            }

        })

        $('#cahngeName').click(function () {
            var name = $('#name').val();
            var error = 0;
            if (!name)
                error = 1;
            if (error == 0) { // если ошибок нет то отправляем данные
                postNewUserName(name);
            }
            else {
                if (error == 1) var err_text = "Введите имя пользователя!";
                $("#messenger").html(err_text);
                $("#messenger").fadeIn("slow");
            }

        })

    });

</script>
<div class="admin_page">
<div class="admin_content">
    <div class="admin_info">
        <h3>Настройки пользователя</h3>
        <form method="post" action="" class="horizontal">
            <div id ="messenger" class="messenger"> </div>
            <input id="userId" type="text" size="60" name="userId" value="<%=userId%>" hidden>
            <div class="form_item">
                <div class="label">Имя пользователя</div>
                <div class="input"><input id="name" type="text" size="60" name="Name" ></div>
            </div>
            <div class="form_but">
                <input type="button" id="cahngeName" value="Изменить имя" class="button succes">
            </div>

         <h3></h3>
            <div class="form_item">
                <div class="label">email пользователя</div>
                <div class="input"><input id="email" type="email" size="60" name="email" ></div>
            </div>
            <div class="form_but">
                <input type="button" id="cahngeEmail" value="Изменить email" class="button succes">
            </div>
            <h3></h3>
            <div class="form_item">
                <div class="label">Старый пароль</div>
                <div class="input"><input id="OldPassword" type="password" size="60" name="OldPassword" ></div>
            </div>
            <div class="form_item">
                <div class="label">Новый пароль</div>
                <div class="input"><input id="NewPassword" type="password" size="60" name="NewPassword" ></div>
            </div>
            <div class="form_item">
                <div class="label">Подтверждение нового пароля</div>
                <div class="input"><input id="PasswordConfirmation" type="password" size="60" name="PasswordConfirmation" ></div>
            </div>
            <div class="form_but">
                <input type="button" id="cahngePassword" value="Изменить пароль" class="button succes">
            </div>


        </form>
    </div>
</div>
</div>