<% layout('../layout') -%>
 <form method="post" action="/users/updateUserName">
      <p>
    
        <strong>UserName</strong>
        <input type="text" name="UserName" required>
      </p>

      <p>
        <strong>And then click this button:</strong>
        <input type="submit" name="login" value="approve">
      </p>
    </form>