<% layout('../layout') -%>
 <form method="post" action="/users/UpdatePassword">

      <p>

        <strong>OldPassword</strong>
        <input type="password" size="20" name="OldPassword" required>
        <strong>NewPassword</strong>
        <input type="password" size="20" name="NewPassword" required>
        <strong>NewPassword Confirmation</strong>
        <input type="password" size="20" name="PasswordConfirmation" required>
      </p>

      <p>
        <strong>And then click this button:</strong>
        <input type="submit" name="login" value="Update">
      </p>
    </form>