<% layout('../layout') -%>
<div class="admin_page">
    <div class="admin_content">
        <div class="admin_info">
            <h3>Контакты</h3>
            <div id="order_page" class="order_page">
                <div class="cafe_info">
                    <div class="name">Служба поддержки</div>
                    <div class="info_item phone">+79173613512</div>
                    <div class="info_item time">пн-пт 9:00 - 20:00</div>
                </div>
            </div>
            <form method="post" action="" class="horizontal">
                <div id="messenger" class="messenger">
                </div>
                <div class="form_item">
                    <div class="label">Представьтесь пожалуйста</div>
                    <div class="input"><input type="text" size="60" name="UserName" required></div>
                </div>
                <div class="form_item">
                    <div class="label">Ваш email</div>
                    <div class="input"><input id="email" type="email" size="60" name="email" required></div>
                </div>
                <div class="form_item">
                    <div class="label">Текст сообщения</div>

                </div>
                <div class="form_item">
                    <div class="label"></div>
                    <div class="input"><textarea id="text" name="text" style="width: 520px; height: 200px" required></textarea>
                    </div>
                </div>
                <div class="form_but">
                    <input type="submit" value="Отправить" class="button succes">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/script/Contacts.js" type="text/javascript"></script>