<% layout('../layout') -%>
<div class="page_title_block">
    <h1>Контакты</h1>
    <div class="border_wave_bot"></div>
</div>
<div class="page_content">
    <h3>Служба поддержки</h3>
    <div class="contacts_info">
        <div class="info_item phone">+7 (917) 36 13 512</div>
        <div class="info_item time">пн-пт 9:00 - 20:00</div>
		</br>
		</br>
		<div>ИП Дюстер Юрий Федорович</div>
		<div>ОГРН:311028012600079</div>
		<div>ИНН :026825602786</div>
		<div>Р/С :40802810110000000874</div>
		<div>Наименование банка :ОАО "ИНВЕСТКАПИТАЛБАНК"</div>
		<div>Город банка :УФА</div>
		<div>БИК банка :048073891</div>
		<div>Корр.счет банка :30101810000000000891</div>
		
    </div>
    <h3>Обратная связь</h3>
    <form action="" class="horizontal">
        <div id="messenger">
        </div>
        <div class="form_item">
            <div class="label">Представьтесь пожалуйста</div>
            <div class="input"><input type="text" size="60" name="UserName" required></div>
        </div>
        <div class="form_item">
            <div class="label">Ваш e-mail</div>
            <div class="input"><input id="email" type="email" size="60" name="email" required></div>
        </div>
        <div class="form_item">
            <div class="label">Текст сообщения</div>
            <div class="input"><textarea id="text" name="text" style="width: 520px; height: 200px" required></textarea></div>
        </div>
        <div class="form_but">
            <input type="submit" value="Отправить" class="button succes">
            <input type="reset" value="Очистить" class="button simple">
        </div>
    </form>
</div>
<script src="/script/Contacts.js" type="text/javascript"></script>