<% layout('../layout') -%>
<script src="/viewmodels/menuViewModel.js"></script>
<div class="cafe_page" id="cafe_menu_page">
    <input hidden="hidden" value="<%= cafeId %>" id="cafeId" />
    <div class="cafe_info">
        <div class="cafe_name"><strong data-bind="text: name"></strong></div>
        <div class="cafe_tip">Ежедневно 09:00 - 00:00</div>
        <div class="cafe_address"><a href="#">Мингажева, 129</a></div>
        <div class="cafe_tel"><strong data-bind="text: phone"></strong></div>
        <div class="border_wave_bot"></div>
    </div>
    <div class="cafe_menu" id="tab-container">
        <ul class="catalog_nav etabs" data-bind="foreach: Categories">
            <li><a href="text: IdName"><span data-bind="text: Name"></span></a></li>
        </ul>
        <div data-bind="foreach: Categories">
            <div class="catalog clearfix" id="text: IdName">
                <div data-bind="foreach: Dishes">
                    <div class="catalog_item">
                        <div class="img"><img src="images/content/img1.jpg" alt="img"></div>
                        <h3><strong data-bind="text: Name"></strong></h3>
                        <div class="price"><span data-bind="text: Price"></strong></div>
                        <div class="buy">
                            <a href="#">заказать</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>