<% layout('../layout') -%>

<div class="admin_page" id="admin_page">
    <div class="admin_title page_title_block">
        <h1 data-i18n="admin_page.Header" >Администрирование</h1>
        <a class="shop_link" href="/shop/<%= shopId %>/stock" data-i18n="myPage">Страница заведения</a>
        <div class="border_wave_bot"></div>
    </div>

    <div class="admin_content">
        <div class="admin_info">
            <h3 data-i18n="info">Информация</h3>
            <form method="post" action="" class="horizontal">
                <div id="messenger" class="notice succes" style="display:none" data-i18n="admin_page.OkMessage">Данные обновлены</div>
                <div id="messenger1" class="notice error" style="display:none" data-i18n="admin_page.ErrMessage">Ошибка при обновлении данных</div>
                <div id="messenger2" class="notice error" style="display:none" data-i18n="admin_page.ErrPhoneMessage">Введите валидный номер</div>
                <div id="messenger3" class="notice error" style="display:none" data-i18n="admin_page.ErrCodeMessage">Введите код подтверждения</div>
                <div class="form_item">

                    <div class="label" data-i18n="admin_page.Name">Название кафе/ресторана</div>
                    <input id="shopId" type="hidden" size="20" name="shopId" value="<%= shopId %>" required hidden>
                    <input id="Longitude" type="hidden" size="20" name="Longitude" hidden>
                    <input id="Latitude" type="hidden" size="20" name="Latitude" hidden>
                    <div class="input"><input id="name" type="text" size="60" name="Name" required>
                    </div>
                </div>
                <div class="form_item">
                    <div class="label" data-i18n="admin_page.Address">Адрес</div>
                    <div class="input"><input id="Address" type="text" size="60" name="Address" placeholder="Ufa, Lenina 21" onkeyup="GetLocation($('#Address'))"></div>


                </div>
                <div class="form_item">
                    <div class="label" data-i18n="admin_page.WorkAt">Режим работы</div>
                    <div class="input"><input id="WorkTime" type="text" size="60" name="WorkTime"></div>
                </div>
                <div class="form_item">
                    <div class="label" data-i18n="admin_page.ClientPhone">Телефон (для клиентов)</div>
                    <div class="input"><input id="ClientPhone" type="text" size="60" name="ClientPhone"></div>
                </div>
                <div class="form_item">
                    <div class="label" title="Если доставка товара возможна, пожплуйста подробно опишите условия доставки в разделе 'Особенности работы'" data-i18n="admin_page.Delivery">Возможность доставки</div>
                    <div class="input"><input id="Delivery" type="checkbox" name="Delivery" title="Если доставка товара возможна, пожплуйста подробно опишите условия доставки в разделе 'Особенности работы'"></div>
                </div>
                <div class="form_item">
                    <div class="label" data-i18n="admin_page.CellPhone">Сотовый (для sms оповещения)</div>
                    <div class="input"><input type="text" size="20" id="cellPhone" name="cellPhone" required>
                    </div>
                </div>
                <div id="verify" class="form_item" style="display: none">
                    <div class="label" data-i18n="admin_page.PhoneConfirmation">Введите код подтверждения</div>
                    <div class="input"><input id="cellPhoneConfirmation" type="text" size="20" name="token">

                        <input type="button" id="confirm" value="Подтвердить" class="button succes" data-i18n="admin_page.PhoneConfirmBtn"></div>

                </div>


                <div class="form_item">
                    <div class="label" data-i18n="admin_page.Description">Описание, особенности работы</div>
                    <div class="input"><textarea id="Description" name="Description" style="width: 520px; height: 200px" required></textarea></div>
                </div>
                <div class="form_but">
                    <input type="submit" value="Сохранить" class="button succes" data-i18n="[value]admin_page.Save">
                    <input type="reset" value="Очистить" class="button simple" data-i18n="[value]admin_page.Clear">
                </div>
            </form>
        </div>

        <div class="admin_stock" id="admin_stock">
            <h3 data-i18n="admin_page.Menu">Меню заведения
                                    <!--<a href="#" class="add_category button small grey f-right" data-bind="click: $root.addCategory">+ Добавить категорию</a>
                                    <a href="#" class="add_category button small grey f-right" data-bind="click: $root.renameCategory">+ Переименовать категорию</a>
                                    -->
            </h3>
            <div id="tab-container">
                <ul class="naobed_catalog_nav etabs" data-bind="foreach: Categories">
                    <li data-bind="attr: { class: activeText() } ">
                        <a data-bind="click: $root.setActiveCategory  ">
                            <div data-bind="if: id() && !edit()">
                                <span data-bind="text: Name"></span>
                            </div>
                            <div data-bind="if: !id() || edit()">
                                <input type="text" name="" id="" class="name" placeholder="Название категории" required data-bind="value: Name" />
                                <a href="#" class="button small grey" data-bind="click: !edit() ? $root.addCategoryToDb : $root.renameCategoryToDb"data-i18n="admin_page.Save">Сохранить</a>
                            </div>
                        </a>
                    </li>
                </ul>
                <input type="hidden" id="newPhotoTmpUrl" />
                <div data-bind="foreach: Categories">
                    <div data-bind="attr: { id: IdName, class: active() ? 'catalog_admin clearfix active':'catalog_admin clearfix', style: active() ? 'display: block' : 'display: none' }">
                        <div class="catalog_admin_buts">
                            <div class="button_group">
                                <a href="#" class="button xsmall" data-bind="click: $root.addCategory" data-i18n="admin_page.AddCategory">Добавить категорию</a>
                                <a href="#" class="button grey xsmall" data-bind="click: $root.removeCategory" data-i18n="admin_page.removeCategory">Удалить</a>
                                <a href="#" class="button grey xsmall" data-bind="click: $root.renameCategory" data-i18n="admin_page.renameCategory">Переименовать</a>
                            </div>
                        </div>

                        <div class="catalog_admin" data-bind="foreach: Items">
                            <div class="catalog_item">
                                <div class="photo">
                                    <a href="#" class="addfile">
                                        <img width="186" height="131" data-bind="attr: { id: 'newPhotoImage'+id(), src: Image() }"></img>
                                        <span data-i18n="admin_page.Photo">Фото блюда</span>
                                        <input class="fileupload" type="file" name="uploads" data-url="/upload" data-bind="attr: { id: 'newPhotoInput'+id() }, uploadImage: id()"></a>
                                </div>
                                <div class="info">
                                    <input type="text" name="" id="" class="name" placeholder="Название блюда" required data-bind="value: Name" data-i18n="[placeholder]admin_page.dishName">
                                    <textarea name="" id="" placeholder="Описание блюда" required data-bind="value: Description" data-i18n="[placeholder]admin_page.dishDescription"></textarea>
                                    <input type="text" name="" placeholder="0" id="" class="price" required data-bind="value: Price"><span class="currency">р</span>
                                    <a href="#" class="button succes small" data-bind="click: id()!=null ? updateItem : $parent.addItemToDb" data-i18n="admin_page.Save">Сохранить</a>
                                    <div class="week">
                                        <input type="checkbox" value="AllWeek" data-bind=" attr:{ id: 'allWeek' + id(), name: 'allWeek' + id()  },checked: Days"><label data-bind="attr:{ for: 'allweek' + id()  }" class="check" data-i18n="admin_page.AllWeek">Всю неделю</label>
                                        <input type="checkbox" value="Mon" data-bind="attr:{ id: 'mon' + id(),name: 'mon' + id()  },checked: Days"><label data-bind="attr:{ for: 'mon' + id()  }" class="check" data-i18n="admin_page.Monday">Пон</label>
                                        <input type="checkbox" value="Tue" data-bind="attr:{ id: 'tue' + id(),name: 'tue' + id()  },checked: Days"><label data-bind="attr:{ for: 'tue' + id()  }" class="check" data-i18n="admin_page.Tuesday">Втр</label>
                                        <input type="checkbox" value="Wed" data-bind="attr:{ id: 'wed' + id(),name: 'wed' + id()  },checked: Days"><label data-bind="attr:{ for: 'wed' + id()  }" class="check" data-i18n="admin_page.Wednesday">Срд</label>
                                        <input type="checkbox" value="Thu" data-bind="attr:{ id: 'thu' + id(),name: 'thu' + id()  },checked: Days"><label data-bind="attr:{ for: 'thu' + id()  }" class="check" data-i18n="admin_page.Thursday">Чтв</label>
                                        <input type="checkbox" value="Fri" data-bind="attr:{ id: 'fri' + id(),name: 'fri' + id()  },checked: Days"><label data-bind="attr:{ for: 'fri' + id()  }" class="check" data-i18n="admin_page.Friday">Пят</label>
                                        <input type="checkbox" value="Sat" data-bind="attr:{ id: 'sat' + id(),name: 'sat' + id()  },checked: Days"><label data-bind="attr:{ for: 'sat' + id()  }" class="check" data-i18n="admin_page.Saturday">Суб</label>
                                        <input type="checkbox" value="Sun" data-bind="attr:{ id: 'sun' + id(),name: 'sun' + id()  },checked: Days"><label data-bind="attr:{ for: 'sun' + id()  }" class="check" data-i18n="admin_page.Sunday">Вск</label>
                                    </div>
                                </div>
                                <a href="#" class="delete" data-bind="click: $parent.removeItem"></a>
                            </div>
                        </div>
                        <a href="#" class="button succes small" data-bind="click: addItem" data-i18n="admin_page.AddDish">+ Добавить блюдо</a>
                        <!--<a href="#" class="button small grey" data-bind="click: $root.removeCategory">Удалить категорию</a>-->
                    </div>
                </div>

                <div class="notification" style="display: none" data-bind="visible: showOkMessage">
                    <span data-i18n="admin_page.OkMessage"></span>
                </div>
                <div class="notification error" style="display: none" data-bind="visible: showErrorMessage">
                    <span data-i18n="admin_page.ErrMessage"></span>
                </div>

            </div>

        </div>
    </div>
</div>



<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<script src="/script/admin.js" type="text/javascript"></script>

<div id="dialog-delete-confirm" title="Удалить категорию?" style="display: none" data-i18n="[title]admin_page.DeleteConfirmationtitle">
    <p><span class="ui-icon ui-icon-alert" style="float: left; margin: 0 7px 20px 0;"></span><span data-i18n="admin_page.DeleteConfirmation">Вы уверены что хотите удалить категорию?</span></p>
</div>

<script type="text/javascript">
    $(function () {
        i18n.init({ lng: "en-Us", debug: false, resGetPath: '/locales/__lng__/__ns__.json' }, function () {
            $(".logo").i18n();
            $("title").i18n();
            $(".slogan").i18n();
            $(".admin_block").i18n();
            $(".admin_page").i18n();
            $("#dialog-delete-confirm").i18n();
            
            $(".catalog_admin").i18n();
            $(".notification").i18n();

           


        });
    });
</script>


