<% layout('../layout') -%>
<h3><% title %></h3>
<input hidden="hidden" value="<% cafeId %>" id="cafeId">
<input hidden="hidden" value="<% menuId %>" id="menuId">
<input hidden="hidden" value="<% categoryId %>" id="categoryId ">
<table>
    <thead>
    <tr>
        <th>Наименование</th>
        <th>Описание</th>
        <th>Цена</th>
        <th></th>
    </tr></thead>
    <tr>
        <td><input data-bind="value: newDishName" /></td>
        <td><input data-bind="value: newDishDescription" /></td>
        <td><input data-bind="value: newDishPrice" /></td>
        <td><button data-bind="click: addDish">Добавить</button></td>
    </tr>
    <tbody data-bind="foreach: dishes">
    <tr>
        <td><input data-bind="value: Name" /></td>
        <td><input data-bind="value: Description" /></td>
        <td><input data-bind="value: Price" /></td>
        <td><a href="#" data-bind="click: $root.removeDish">Удалить</a></td>
    </tr>
    </tbody>
</table>