<% layout('../layout') -%>
<div class="admin_page">
<div class="admin_content">
    <div class="admin_info">
        <h3>Вход</h3>
        <form method="post" action="/users/login" class="horizontal">
            <div class="form_item">
                <div class="label">email</div>
                <div class="input"><input type="email" size="60" name="email" required></div>
            </div>
            <div class="form_item">
                <div class="label">Пароль</div>
                <div class="input"><input type="password" size="60" name="password" required></div>
            </div>
            <div class="form_but">
                <input type="submit" value="Войти" class="button succes">
                <a href="/" class="button simple">Отмена</a>
            </div>
        </form>
    </div>
</div>
</div>