<% layout('../layout') -%>
 <form method="post" action="/users/newUser">
      <p>
        <strong>You may have entered an invalid user ID
          or password. To correct the problem, please enter
          your correct user ID and password. If you have
          forgotten your user ID or password, please contact
          the server administrator.</strong>
      </p>
      <p>
        <strong>Please enter user ID and password:</strong>
        <br>
        <strong>User Name</strong>
        <input type="text" size="20" name="UserName" required>
        <strong>email</strong>
        <input type="email" size="20" name="email" required>
        <strong>Password</strong>
        <input type="password" size="20" name="password" required>
      </p>

      <p>
        <strong>And then click this button:</strong>
        <input type="submit" name="login" value="Login">
      </p>
    </form>