<% layout('../layout') -%>
 <form method="post" action="/users/UpdateEmail">

      <p>

        
        <strong>New email</strong>
        <input type="email" size="20" name="email" required>
      </p>

      <p>
        <strong>And then click this button:</strong>
        <input type="submit" name="login" value="Login">
      </p>
    </form>